
<div class="span8 offset2 boxy text-center">

	<h1 class="h1-custom"> Welcome to Istanbul </h1>

	<br/>

	<h2 class="h2-custom"> An ancient city, a bright future </h2>

	<br/>
	<br/>	

	<%= link_to 'Launch', "#", :class => 'btn btn-warning btn-large' %>

</div>