
<div class="span8 offset2 boxy text-center">

	<h1 class="h1-custom"> StructureDatabases </h1>

	<br/>

	<h2 class="h2-custom"> Open Databases for fact-based analysis </h2>

	<br/> <br/>	

	<%= link_to 'Browse Open Data', pics_path, :class => 'btn btn-warning btn-large' %>

	<br/> <br/>	

	<h2 class="h2-custom"> Private Databases for sale </h2>

	<br/> <br/>

	<%= link_to 'Browse Data for Sale', pics_path, :class => 'btn btn-warning btn-large' %>

	<br/> <br/>

	<iframe width="560" height="315" src="//www.youtube.com/embed/hVimVzgtD6w?list=PL20B8AA5DD976D7B5" frameborder="0" allowfullscreen></iframe>

</div>