
<% @pics.each do |pic| %>
	<div class="span3 boxy-index text-center">
		<h1 class="h1-index">
			Lesson: <%= pic.lesson %>
		</h1>

		<%= image_tag pic.image %>

		<br/>

		<h2 class="h2-index">

			Emotion: <%= link_to pic.emotion %>
			<br/>

			Learned: <%= pic.learned %>
			<br/>

		</h2>

	</div>

<% end %>
