
<% @pics.each do |pic| %>
	<div class="span2 boxy text center">
		<h1 class="h1-custom2">
			Lesson: <%= pic.lesson %>
		</h1>

		<br/>

		<h2 class="h2-custom2">

			Emotion: <%= pic.emotion %>
			<br/>

			Learned: <%= pic.learned %>
			<br/>

		</h2>

	</div>

<% end %>
